/* importa as fontes poppins e Cormorant SC (google) */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Poppins:wght@400;700&display=swap');

/* definição de variaveis */
:root {
    /* fontes */
    --fonte-principal: "Poppins", sans-serif;
    --fonte-segundaria: "Cormorant SC", serif;

    /* paletas de cores */
    --cor-principal: #50C878;
    --cor-segundaria: #333333;
    --cor-principal-alpha: #50c87841;
    --cor-gradiente-01: #acf8c5;
    --cor-gradiente-02: #aaaaaa;
    --cor-01: #f9f9f9;
    --cor-02: #b8c6c7;
    --cor-03: #767f86;
    --cor-04: #3c4852;
    --cor-05: #00000043;
}

/* limpa as configurações padroes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: var(--fonte-principal);
    fonte-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--cor-04);

}


/* ===== Barra de navegação fixa, com Menu ===== */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cor-principal);
    padding: 0.6rem 3rem;
    color: var(--cor-01);
    letter-spacing: 0.1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo {
    font-family: var(--fonte-segundaria);
    font-size: 1, 5rem;

}

.Menu a {
    text-decoration: none;
    color: var(--cor-01);
    font-weight: 700;
    border: solid 1p var(--cor-05);
    transition: 0.5s;

}

.Menu a:hover {
    color: var(--cor-segundaria);
}